body{
font-size: 50px;
    text-align: center;
    
}

i {
    color: red;
    
}


.pulse {
    animation-name: resize;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes resize {
    0%, 100% {
        transform: scale();
    }
    50% {
        transform: scale(1.2);
    }
}