body{
margin: 0;
    background-color: aqua;

}

.container{
     height: 100vh;

}

.curtain{
    height: 50%;
    width: 100%;
    animation: curtain 1s 1;
}

.top{
    background-color: fuchsia;
    transform-origin: top;
}

.bottom{
    background-color: bisque;
    transform-origin: bottom;
}

@keyframes curtain{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}